# terraform
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup

# tf plan files
plan

# python
**/.venv
**/*.pyc

# generated or data files
**/*.txt
test/data/**/*.zip
**/*.Identifier

# vscode
**/.vscode

# logging
**/app.log

# Django Postgres DB Access
**/*.env