# terraform
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup

# python
**/.venv

# generated or data files
**/*.txt
test/data/**/*.zip
test/data/**/*.Identifier

# vscode
**/.vscode