# terraform
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
deploy/terraform/**/generated-init.sql

# tf plan files
plan

# python
**/.venv
**/*.pyc

# generated or data files
**/*.txt
!requirements.txt
!**/requirements.txt
!requirements-webapp.txt
!**/requirements-webapp.txt
test/data/**/*.zip
**/*.Identifier

# vscode
**/.vscode

# logging
**/app.log

# Django Postgres DB Access
**/*.env